* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
  /* box-sizing: border-box; */
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  /* background-color: ; */
  /* height: 100vh; */
  /* padding: 2rem; */
}

h1 {
  font-size: 26px;
  font-weight: 500;
}

.btnDv {
  /* margin-top: 5px; */
  float: right;
}

.btn {
  /* position: absolute; */
  margin-top: 14px;
  margin-right: 10px;
  width: auto;
  font-size: 30px;
  border: none;
  background-color: aquamarine;
  padding: 10px 20px 10px 20px;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  transition: color 0.5s, background-color 0.5s;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  animation: bounce 1s;
  text-shadow: 3px 3px 3px grey;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* .textContain {
 position: relative; 
  margin: 0;
  padding: 0; 
} */

.divText1,
.divText2,
.divText3,
.divText4 {
  position: absolute;
  /* float: left; */
  font-size: 20px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
  /* height: auto; */
  background-color: aquamarine;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.newClass {
  background-color: rgb(241, 233, 121);
  color: rgb(185, 236, 225);
  transition: color 0.5s, background-color 0.5s;
  /* Scaling button to 0.98 to its original size */
  transform: scale(0.98);
  /* Lowering the shadow */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.hidden {
  /* display: none; */
  opacity: 0;
}

@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
    font-size: 70%;
  }
  h1 {
    font-size: 16px;
    font-weight: 400;
  }
  .btn {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 1rem;
  }

  .divText1,
  .divText2,
  .divText3,
  .divText4 {
    top: 13%;
    left: 10px;
    width: 95%;
    transform: translate(0, 0);
    font-size: 10px;
    padding: 1rem;
  }
}
