* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  /* position: relative; */
  /* display: flex; */
  /* align-items: flex-start; */
  justify-content: center;
  background: linear-gradient(to top left, #99861d, #645c37);
}

button {
  margin-right: 10px;
  width: 150px;
  font-size: 30px;
  border: none;
  background-color: aquamarine;
  padding: 10px;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  transition: color 0.5s, background-color 0.5s;
}

.newClass {
  background-color: purple;
  color: white;
  transition: color 0.5s, background-color 0.5s;
  /* Scaling button to 0.98 to its original size */
  transform: scale(0.98);
  /* Lowering the shadow */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btnDv {
  margin-top: 30px;
  text-align: center;
}

.hidden {
  display: none;
}

p {
  font-weight: 400;
}

.divText1,
.divText2,
.divText3,
.divText4 {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
  background-color: rgb(160, 184, 55);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
    font-size: 70%;
  }
  button {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    width: 80px;
    padding: 1rem;
  }

  .divText1,
  .divText2,
  .divText3,
  .divText4 {
    position: relative;
    left: 10px;
    width: 90%;
    transform: translate(0, 0);
    font-size: 10px;
    padding: 1rem;
  }
}
